body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

section {
  display: inline-block;
  text-align: center;
  margin-top: 50px
}

h1{
  padding: 20px;
}

#carousel {
  width: 400px;
}

#carousel img {
  width: 100%;
}

#next{
  background: #21252B;
}
#back{
  background: #D4D4D4;
}

#controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

#caption {
  text-align: center;
}

#mainPhoto{
  height: 400px;
}
.newPhotos{
  height: 100px;
  margin: 20px;
}
